.header {
  background: rgba(10, 20, 30, 0.6);
  backdrop-filter: blur(16px);
  padding: 14px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.header-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo {
  width: 48px; /* AUMENTA AQUI */
  height: 48px;
  filter: drop-shadow(0px 0px 6px #59f3a5);
}

.brand-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.header-nav a {
  color: white;
  margin-left: 24px;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.2s;
}

.header-nav a:hover {
  opacity: 0.7;
}
